*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

/* The Below styling is for Nav Component */

.navbar-header{
    display: flex;
    justify-content: space-between;
    /* Linear Gradient is used for the color variation in the  Navbar*/
    background: linear-gradient(180deg, #672280 1.18%, #A626D3 100%);
    align-self: center;
}

.nav-section-1{
    display: flex;
    align-self: center;
    padding-left:30px ;
}

.nav-section-2{
    align-self: center;
    display: flex;
    padding-right:100px ;
}

.nav-logo{
    padding-block: 18px;
    width: 54px;
    max-height: 100%;
}

.header-title{
    padding-left: 18px;
    color: #ECF8F9;
    font-size: 1.25rem;
}

.header-project{
    color:#ECF8F9;
    font-size: 1rem;
}


/* The Above styling is for Nav Component */

/* The Below styling is for Meme Component */

.meme-container{
    padding:30px 40px
}

.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 28px;
    padding:30px 100px
}

.input-field{
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    /* outline-offset: 0px; */
    outline: none;
}

.form-button{
    color:#ECF8F9;
    grid-column: 1 / -1 ;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #850bad 1.14%, #ca57f0 100%);
    border: none;
    cursor: pointer;
}   


.meme {
    position: relative;
}

.meme-image {
    max-width: 100%;
    padding-left: 100px;
    border-radius: 3px;
}

.meme-text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 25%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.bottom {
    bottom: 0;
}

.top {
    top: 0;
}